.add-service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  min-height: 100%;
  font-family: "Noto Serif KR", serif;
}

.add-button {
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-color: #ff9900;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  min-width: 7.5vw;
  min-height: 5vh;
}

.btn-container {
  display: flex;
}

.green {
  background-color: #5cb85c;
}

.red {
  background-color: #df4759;
}

.service-container-input {
  display: flex;
  box-sizing: border-box;
  border: 3px solid #24303e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif KR", serif;
}
.service-container-input input {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid #24303e;
  width: 80%;
  margin: 15px 0;
  font-weight: 400;
  font-size: 12px;
  outline-style: none;
}
