ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
li {
  padding: 5px;
}
.containers {
  display: flex;
  justify-content: space-around;
}

.box1 {
  display: flex;
  background-color: #24303e;
  width: 400px;
  height: 400px;
  color: white;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}

.box2 {
  background-color: #24303e;
  display: flex;
  width: 400px;
  height: 400px;
  color: white;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}
.box3 {
  background-color: #24303e;
  display: flex;
  width: 400px;
  height: 400px;
  color: white;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}
.box4 {
  background-color: #24303e;
  display: flex;
  width: 400px;
  height: 400px;
  color: white;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}


