.main-container{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
  overflow: hidden;
}


ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  max-height: 20vh;
  padding: 5px;
}

ul > li {
  padding: 5px;
  list-style: none;
}

.box, .box1  {
  display: flex;
  background-color: #24303e;
  width: 20vh;
  height: 20vh;
  color: white;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.box:hover, .box1:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
}

.box:active, .box1:active{
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
}

.box1 {
  background-color: #ff9900;
  color: white;
}