* {
  margin: 0;
}
.main {
  display: flex;
  width: 100vw;
  height: 84vh;
  /*background-color: ##8e949b;*/
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  overflow: hidden;
}

.main-left,
.main-right {
  display: flex;
  width: 15vw;
  height: 85vh;
  color: black;
  background-color: #f2f2f2;
}

.main-center {
  width: 70vw;
  height: 84vh;
  background-color: #f2f2f2;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
