.main {
  display: flex;
  width: 99vw;
  height: 80vh;
  border: solid 2px black;
}

.main-left,
.main-right {
  display: flex;
  width: 20vw;
  height: 80vh;
  border: solid 2px peru;
  background-color: #146eb4;
}

.main-center {
  width: 60vw;
  height: 80vh;
  border: solid 2px blue;
  background-color: #f2f2f2;
}

.main-right {
  border: solid 2px red;
}
