* {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #24303e;
}

.logo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  width: 30vw;
  height: 10vh;
}

.unregistered-user,
.registered-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 30vw;
  margin-right: 2.5vw;
}

.custom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
  margin-bottom: 0;
}

.nav-logo {
  color: azure;
  font-family: "Oi", cursive;
  font-size: 2.5em;
  text-decoration: "none";
  margin-left: 2.5%;
  cursor: pointer;
}

.nav-button {
  margin-right: 2.5%;
  background-color: #ff9900;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  font-family: "Noto Serif KR", serif;
}
