.user-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 15vh;
  background-color: azure;
  margin-bottom: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.65);
}

p{
    margin: 0;
}

.data {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
}
