.search-bar{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}


.nav-input {
    width: 40vw;
    height: 3.5vh;
    border-radius: 5px;
    background-color: white;
    outline-style: none;
  }

.custom-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: initial;
    margin-bottom: 0;
    width: initial;
    height: initial;
    text-decoration: none;
  }
  
.search-btn{
    margin-left: 1px;
    height: 4vh;
    width: 4vh;
    border-radius: 25%;
    cursor: pointer;
}