.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 10vh;
  margin-top: 2vh;
  /* border: solid 2px purple; */
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
  background-color: azure;
  max-width: 75%;
}

.header{
  margin-left: 5px;
  margin-bottom: 20px;
}

.data{
  padding-left: 5px;
  margin-bottom: 10px;
}

.informations {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%; 
}

.service-button {
  margin-right: 2.5%;
  background-color: #ff9900;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  font-size: 1.25em;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

h1{
  margin: 0;
}
