.details {
  width: 48vw;
}

.custom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
  max-width: initial;
}

.date {
  font-size: 13px;
  width: 200px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid grey;
  text-align: center;
  color: #24303e;
}

.email{
  display: flex;
  justify-content: space-evenly;
  width: inherit;
}

.title {
  color: grey;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}
.info-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 17px;
}

.button-back {
  margin-top: 5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  background-color: #ff9900;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  font-size: 1.25em;
  -webkit-box-shadow: 0 4px 2px -2px gray;
  box-shadow: 0 4px 2px -2px gray;
  outline: none;
}
.description {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

.location .contact {
  margin-bottom: 15px;
}

.second-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
svg {
  padding-top: 5px;
}